.App {
  text-align: center;
  min-height: 70vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  width: 100%;
  height: 100%;
  color:#fff;
  font-family:sans-serif;
  display: grid;
  place-items: center;
  border-radius: 5px;
  margin-bottom: 5%;
}

body {
  margin: 0%;
  padding: 0%;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
 /* font-family: 'Times New Roman', Times, serif; */
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  padding:20px;
  background-color: rgba(0,0,0,0.3);
  margin-bottom:20px;
  padding-left:40px;
  padding-right:40px;
  border: 1px solid white;
  border-radius: 4px;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 100%;
  height:100%;
  /* font-family: 'Times New Roman', Times, serif; */
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat-window p {
  margin: 0;
  
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 0px;
  background-color: rgb(19, 18, 18);
  padding:5px;
  width:100%;
  height:10%;
  cursor: pointer;

}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background-color:rgba(0,0,0,0.3);
  border-bottom: none;
  height:81%;
  width:100%;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior:smooth;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
  color:white;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color:rgb(30, 180, 30);
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: rgb(189, 90, 25);
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}
#bot {
  justify-content: flex-end;
}

#bot .message-content {
  justify-content: flex-end;
  color:#263238;
  background-color: rgb(255, 208, 0);
}

#bot .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

#bot {
  justify-content: flex-end;
}

#bot .message-content {
  justify-content: flex-end;
  background-color: rgb(255, 208, 0);
  color:#212121;
 
}

#bot .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
  
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  /* font-family: 'Times New Roman', Times, serif; */
  height: 9%;
  border: 1px solid #263238;
  border-top: none;
  width:100%;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex:95%;
  border: 1px solid black;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  border-left: none;
  border-radius:10px;
  outline: none;
  /* font-family:"Times New Roman"; */
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 8%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: orangered;
}
.hide {
  opacity: 0 !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  color: white;
  background-color: rgb(44, 44, 44);
  padding: 30px;
  margin-top:30px;
  position:sticky;
  top:10vh;
  width:100%;
}
.joinChatContainers {
  /* font-family: 'Times New Roman', Times, serif; */
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  padding:20px;
  background-color: rgba(0,0,0,0.3);
  margin-bottom:65px;
  padding-left:40px;
  padding-right:40px;
  border: 1px solid white;
  border-radius: 4px;
}

.joinChatContainers h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainers input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainers button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainers button:hover {
  background: #2e7d32;
}


.chat-body::-webkit-scrollbar {
  width: 10px; 
}

.chat-body::-webkit-scrollbar-track {
  background-color: black;
}

.chat-body::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}

*::-webkit-scrollbar {
  width: 10px; 
}

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}