body{font-family:sans-serif;
  }
  .component{
      justify-content: flex-end;
    background-color: rgb(255, 208, 0);
    color:#212121;
  }
  
  
  /* WEATHER */
  #hot {
      background: url('https://i.imgur.com/sTfvzrM.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: local;
      border-radius: 16px 16px 16px 16px;
      padding:25px;
  }
  #cold{
  
      background-image: url("https://i.imgur.com/dpqZJV5.jpg");
      background-size: cover;
      border-radius: 16px 16px 16px 16px;
      padding:25px;
      
      box-shadow: 0px 8px 16px 4px #9E9E9E;
      
  }
  /* TIMEZONE */
  .timezone{
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY0HIVe0konBZnefP84gEyjmKeVifTeRFsJw&usqp=CAU");
      background-size: cover;
      border-radius: 16px 16px 16px 16px;
      padding:25px;
      color:rgb(0, 0, 0);
  }
  
  /* WIKIPEDIA */
  .wiki{
      background-color: rgb(104, 231, 189);
      color:black;
      border-radius: 16px 16px 16px 16px;
      padding:25px;
      margin-left:350px;
  }
  
  /* CURRENCY */
  
  .currency{
      background-color: rgb(104, 231, 189);
      color:black;
      border-radius: 16px 16px 16px 16px;
      padding:25px;
      margin-left:350px;
  }
  
  /* LYRICS */
  .lyrics{
      background-color: rgb(104, 231, 189);
      color:black;
      border-radius: 16px 16px 16px 16px;
      padding:25px;
      margin-left:200px;
  }
  /* COVID */
  .covid{
    font-weight: 600;
    background-image: url("https://kboo.fm/sites/default/files/images/lead/station_content/virus-5209058_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    border-radius: 16px 16px 16px 16px;
    padding:25px;

}

/* STOCKS */
.stocks{
  font-weight: 900;
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAQERUSDxEVDw8PEBEVDw8NEBUPDw0QFREXFhUVFRUYHikhGBsmHBUVIjIiJiosLy8vFyA2OTQtOCkuLywBCgoKDg0OGxAQHCweHh4sMC4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLv/AABEIAMYA/wMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAACAwQBAAUG/8QAShAAAQMBAwULCQMKBgMAAAAAAQACEQMEEiEiMUFRsRMyUmFxgZGS0dLwBRYjQlNiobLBM3KTBhRDY3OCs8Lh4oOio8PE8RVUtP/EABoBAAMBAQEBAAAAAAAAAAAAAAABAgMEBQb/xAAuEQACAgAFAQcEAgMBAAAAAAAAAQIRAxIhMUFRImFxgZGx8BNSodFC4TLB8QT/2gAMAwEAAhEDEQA/APlv/I2j2lTrP7UQ8oWj2lTrP7VLCNrV6qguh8y8WfV/kpHlCv7Sp1n9qY3yhaPaP6zu1TNCIBXlRm8WfV+pUPKFo9o/rO7UYt9f2j+s7tUoCYAmoroZvGn1fqUi32j2j+s7tRi31+G/pd2qYNRgK1FGbxp/c/Vjxbq/Df0u7UwW6vw39Lu1TgLQFWVdCHiz6v1ZQLdX4b+l3ai/Pq/Df0u7UgBbCeVdCPqz+5+rH/nto4b+l3as/Pq/Df0u7Uq6hhGVB9af3P1Y426vw39Lu1AbdX4b+l3agIQEJZV0KWNPq/VjDbq/Df0u7UBt1fhv6XdqAhAQllRaxp/c/Vhm3V/aP6zu1AbfX9o/rO7UBCAhRkRosafV+ow2+0e0f1ndqA+ULR7R/Wd2pZalkKcq6FrFn1fqMPlCv7Sp1n9qE+UbR7Sp1n9qUQgcFLiuhosWf3P1Y0+UbR7Wp1n9qWbfaPbVfxH9qW4ICFOVGixJdRh8oWj21X8V/agPlC0e2q/iv7UpwQOCVI0U5dRp8o2j21X8V/agPlG0e2q/iv7UohKIUOKNFN9R58pWj29X8V/ais/lG0XxNerp/Sv1HjUZCKyjLHPsKhpGsZO9z1ZRtKUiC6jzWNBTAlhEFSZkxoKNqUEYKpGbQ0IwkgowVVkNDgiSgUQKohoYCilKXSmTQ2V0pUrpRYqDJQysJ8c6GUikjSUJKwlASk2Uka5AStcllS2aJGFAVpQFSaJGEpZKIoHKWaIxxQOK0oHKGaJAkpbkZSikaIwpbkRQOUM1QDijs+/HPsKWUdm3459hUPY1huejeRB3iQkydSMTqW6ZxNDw/wASEYf4kKcTqCIE6gmmQ4ooD/EhEH+JCnE6gmAnUFVmeVDw/wASEQqeJCS0nUOhaCdQ6AqshxQ8VPEhEKniQkBztQ6AiDnah0BOyXEeKm3WFm6eJCWHOjMM40DjXX3ah0BOyco7dPEhDuniQl33ah0BdfdqHQEWGUa6pm5NY1lAXjwQsc92GAzahrKAvdqHQEWNRCv+JCw1PEhCXu1DoCEvdqHQFLZSiG9+PPrCWX+JC57jJwGc6AllztQ6Ak2UohF/iQgv+JCwudqHQEMnUNOgakrNFFHF/iQgL/EhYSdQ6EBnUps0SNLvGCAu8YLCTqQGdSmy0jnOQFy2CdCGoCDClmiS2BLktzk80iWyI0zMKZwPF0hSy40wSUdmOWOfYUpyOzb8c+wqGbRWp6KIFJkogStrONooBRAqcEogXKrM3EpBRAqcFyMFyqyMpQ0rQUhl74HYiF5OyMo8FbKnF5VWWmXAyMxHxnVyKkRJJKwgcOcbCslOfQ9G4gQW3SInSY08qhyuNDtCST2KJXSp8rwFuUlY8pQ45uT6lLlA+9A5P5igN7UUWCiNJQkpZvcaE3uNFlZR9Q4nlO1LJQ1b0nlO1KN5JsqMdBhKGdh2JZvJtKy1nCRTe4ZWLWEiQOIKbLURZKxrHOwaC46mgkxzInWOv7N/4buxdQpvBcHtIlgwcIkbtT1pblPQA0KnAf1CgfScM7SBrIICpNEcEdC4UgA4gRkDR+sYnlJWI/n/AElbk5/+8J7Et4ls6Rn2JdR5McSFhMrNvg6VHkssboOOiMDyBOq0wDEDoUlmeSSfGhUuJMeNKuL0MZrtEXlCIEDSc3IpbNvxz7CnW4mP3zsCmsu/HPsKwxHqduAuyi9GEmSiBKtMwaHAIglAlGCVRnQwcqME60gEowSqTIaKGE69B2LgTrKUwn4HYsBKdk5SgOOsquxOMOxOduxylZSJAOscmnkVFJpaDx3Tr01Bq4lcepjiVVFpvGm8CSTcgDPvgohZqxzNfzSrLO43Xc31Q2TfswG/boHCCpqzOElFU0edfdwj0r0LFVcGYPcMt2ZxbOSzUvKJKtsjjc/edsaojqzSaqJVbXu3PfOJvMzuJ01Na8wvdwj0q22k7lzt+aqvMkqp7k4KuL8Rpc7hHpWXncI9KTJWSVm2bqJS+8XwCZL4GOswtfSwHpW/6ndSmE7qP24/ip9PERxNjqhVuRdV5G07OHQBVaXSMMvGTA9XXCN2W1mMxTf87yhou9I3iez4OCXQqGGj3XfPVRyDegBpjwUVQRdj/wBf/kpZJWV5Dmj9T/yUdQd2vEY0E6Ub8GPx3rI5cpiSxxGOofUJVRxuP/Zn5glmorLb9PdHnFAVe5k6dJzAa+RAaPGegdixynYsRC7Hp8albSOHOo6TYc4DMCeiQmPJbM6jsVR0RGIsz0Ire/P+0+gSrLvxz7Ch8oCG8pHSssbspvJ/KVhN6nbhR7KL8cToBx4lwKfQrBjZOUHOhzeIGR9UNcQJOE1CRyH/AKWqWhyN61QIKPFIDgmXwnYmhwBRgFTh4RB4TshxKabT8DsXXDqSabx8DsWXwnaIyuz06LTAw0fUpt12rQNr1FSqCB40o90E8w2vWqZzTg7PRosdddhq+q2z03Xm4es3VrUrKguO+836rKVQXhyjaqzbGbg9fnBOaD9XxCsstF93NpOkamqUBuGbMPVZq5Ey8BEapzRp4lCNpNtUV22i/cxhwdI4VVecbO/g/EKi3PG5t+6P4lRebeSk9SsKFLzPTFlcRiDp9bj5UitZnTgNA0hbQqZOBjHRzoa9cg744jWeZN1QlmzUjRRduubAVtfvLA12eNXMitdWHETPp25zOl6ka8RzIegRTfoiui119pj9K35kFFpycPVPzVEmi8Xm/ebtQ0Xj/TftqJWhuL1+dSllM4yOLnSrQCXt/Yn/AOhbWyTGYzmjGUyhZHveABBY2Hzhd9N/Q9Ca10QpUqk2LeyJ8caTU3j/ALv1CyrU0dPKlVH5DuQbVDaN4xYYO07VhKWH/XaiDSROswOVTZdGEXC8nSSBGnX8YWVzLBGeADxnwFPaKsueNAc+PxFhqAAcmHKFLlwaRg6T509iW2YkN0Ekci6yWeH77MIzaglWs5uVV2cZYPLsKwerZ2RbSRv0Lh0VCqQ6+I4LRAHEIPaoqb5Tqb4IOr4haJmEojn0rpg58FhC5z5gnPJHNo2ojTOfR2qvAy8TAAiACEDjCK7xjpQAykBPMdiMUghpNxzjMdPEmtHvDpVoyk9dwqcR41ohE8w2lLpjDfM6f6JgZjvm5tZ18iaM3VlGG5/v09jkLIkcoW7n6Pfs+0p6TqdxLm0f1jOsexVZmld/OELpxA5Fpz831WsoYfaU+sexbUoxJ3RmAHrGc/Iiysuo60tBYzjb/uv7VMbO3QNqqtNPJp+kYMjS4+0fxJbaA9pT6x18iNBU0Io5uftQWmLypp0ABjUp6PWOGB4kmvRE/aU+sexJ7FxXasG0DLd+3PzOSRTVNppekdls+3PrHhHiS7vvs6T2IYJ0hdOLw5RtW2Fgc9rTmOB5CXrqdIzMiARJBMDHDQm+SqfpA4vYG0walQknegnNhnkgJJW0PEdRk+79ltpoOdXZUDYZUc1/ENzgv2FT2jyo5xaQA2aQFSPWO7DGc+Zg/wAy2l5RO5FjnAFtP0RaT9ockzzPcvKqDKGIza/fVznS7PJlh4Ny7a/x0Xhq/ZrzRb5Ts4pugGd8HEcOZ+V7FE/eu5BtTSMjOD6Spp1tZ2I7XZ7lJwMF0g3hpZA+r1ElbdG+G8qipO3dfkns4BLZzFwnpVNas1putEhoFwnXnk9Kms7Dku0STP3TipyVCbSNXHMye/i7l+qKocBzqZpynJhKxOtx1FWn1eVW2V+U3n+VQWjRyqmyOyxz7Cpvc0q0it1NjQ4gfEqe+AJ0Iq78kpVazm6BMTjm0K33GEUv5PksoNvZOnOCcww/6VTrO+SDETjjmXl0axa4DA4HsXpOtgzk5+laRa5McSM09BDgRnXAqmi+WYwcSccdKVVIzCM4mAihXrRlI48zthWhy1jBjj6rthSiUC3HsdgtDseZIlcHJpg4lNZ/ov8AHo7HLRUxSLQ70X+PS2VFPSqQZQ5Exw7v5wj0abhE9CVaav0+qXfgAa5Sa7kOWg4w7Vljq0hg1M/3XdpWtqR0KJz4ufc/3Xot0gnkRmoMlrzfuUtfghJxSmuwXoeRbG2vVio65TaBecBnc5wZTbOglzgmrbpEyqKcnshFsPpH/t3fMUq+r/KdhgOeKjHOBvVacndGXngtgRiLlRknXIxheQ52CJWmGFllHsu+D3fJlenRpEVGTUrGWXxLTSZd3PJ43kmeJBbNzpB1FrSKsO3RxwF3LeBGk4gfuLzrfU9K8ZhTqOptAzNpU3XGgcwSN1c4vc43nOFQknEk3HqnP+Pl+zKODmX1L3WbnfjyS08kbKB7sRyfVDeS3uxHjSsWztUT1vJ9K828D9nWa6NYgTsU9e07o1x07kek1b4jmgJDLS5rS0GJcDIMaCI+K2xuyo19hP0Wma0kY/Spub41XkUPrBtOIgwGEZsp9IEn4Lzy5c6sXYnOcTGaUlzlDlZth4WUQ05RREpbTiVxKwOto2r6vKnWU5Y59hUz3Zk2yn0g59hQykip9W6DG+0zm41z6l/CcofGSPHOvMe84nXKNlUjEHFPPwR9Lkpq0y1wnEXc4xGdaXhIo1yHCTkxiM4I04ciKsRgW5pIx0kafiEWuAcXsyiy2kXbriYx0Y5+VPZUBMXjOBGGrnXkU3KinVAIOpCmKeFq6PaYWgwSZh2ji5UGRwj1dA51IyrLiZ9R3yrJWuY5vp09ynI0E9T+5ZLOEfw/7llnoOfN2MNbgJMEwJzmAehJKLCuL9v0U1yzct8ftqf6P3anvqcXOEfw/wC9dW+z/wAWn8KdRMZZmkAycROhD1Euzdt793Rdw+x7k57QXEiNNLN/nXo1bNQnPOHAj+ZeTSphjxBOIOdWX1cHpqY4qd2m/b2ILRuctyjvT+j/AFtT30Diw+ufwv71ZRAuNkA4Pzj9dUWikx76bYF01RegRLQCXDoClq/wWp1u3pfTv7g7BYd2aCx7ru6NpufuWSxz3XROXMYiTGEhVONIXW2eqTuNUVHvjdKVorNLSDAIyBueAxzk6VG3y7Wc4OFxjWNLadJrRuNFrgAQBrwBnWJU9iMA8ypSjwTPDxJW8TyW++jvrp+Xptb9V1nvV6p3QudV/OgRc3xdTqQN9rjoW0qNnszwLQ41Kkt3WncvCiMolwN6D+jMcutT1LWadV1Ru+ZWcQDmOUc68Unn5U5TUdlrZMMKeJu6TSWm/PPG/wA5ttNRjnucCYdUc4TT0FxPCS6d3Kyjvanq+4eNTB2MaYlFT9b7tT+GVlmtnU8OotXx3dPAaS3hHq/1S3XZGJ6P6pcoCVNmiiPJGv4f1QudgcdX1U9d8DlWtfk9H1SsvJpYwHBA9yEHBC8pNjSABxK4lLnFaSpNaOcVRYj6Qc/ylRvKpsbsoc+wpFUTOdnXApZK5SW0MnFOvZJ4nD4gzsClTmuyTyt+qaZLiY1yYxpeYEYCcTHjOkgjj6U5jgGO94tGcSQJJ0fcQhS02GU3ua4tdgQDIOjJVlMOdN0SQCTA0ASkWe1sLbtVpcGNJZBgnDeGBq2I3VBSbALy5zmvzgDc2ufc0YznWkaXOhzztuq1/D7/AE/RbuppikJiXCq4aMsgCf3B8UkWWqQ8lsbi7ekQ7c4dlic4yfioK1qDy4kHKJJhwgcQwzJtnt0ESXvY2cl1QYgsLCJid6TySqzpvUz+jiRVx3/u+vihpqyzivs2PXpiyVmtZLDjcAwxvGnfjlABnVBUzrVZIDhTqgh1J5DXDczUh5NO6Rg3RM6E6x+VHMGF4kiQXOBFNxMue0FkAkF4/fKqOXlnPN4rXYjXc/Lv4F12ua8BwLTDsHCOjWj3RMpV2Vi1lV9XdCam5Oc4OaXVAMHGJAlgzcNTOAbvmVGnCQ7CJzeoq71sJNvstar+9UFSfkt5HfxqieycXkFt2mSwkaXg02Rr35PMdS2xMo7mH1SdzEsjdIqyapkiBjdBvdCDyp5S3aA6bragLALgMAvuSbk4B8cgCb0jbZPanJwirVu3tzsurr/RHuIGko6Lokao2IC5mp/WHdS2uZJ3+MesO6s9EdVSa1TKbZVkv+87ao5KO0vbedg/fO9Ya+RCSz3+sO6hu2EItRVIQ6pDp936rqVcknkqfwyl2i5Pr5uEO6hpFo0P3tT1h7M8SyumdDjcHpwUFyEuQMqNjThxjsQ0nCNPT/ROx5TrQ7MlB+HOPqtrETp6UpQ2axWhTfQX5CSH50N7BGYFAdKwlLlcSkUka4ptldlt59hSCUyxH0jef5SkykhZOPOulYc/OuQFBJtEjGcREwdYP9UhEHfFMTRUXMBgtGMOvAYgX5jowQ13DC6RjlEDM2WsEfAqeVyLJUEnYymdh2LnPJzkmBAkzA1IWHYdiFA+QlwKGVsoChxdkn77fketp1iIxSyck/fbseglBGXV+J6TKxa4OBgtMg6iMQV6Vntu7BzLS6aYBqyIbVvg6DmJuF4AXiOdhzJW6laxxMrOef8A544i13Wz5R61r8oCpF1gp4PeWtOTeLy3J4oYOkqVz9qjL4u/sz/Eemylmb1ZUcJRVR2t+44vQXkErJSsrKOtBynfedtWFyC0uxd9521LFXWhvUIx0QNY4rmnP91/yFA504rmHY75SpvU2y6UcXYQipOzpMrpSspoIlDK6VhKQ6OWLlkpDDaVpKW0rr6YUESmWI+kbz/KVOSn2L7RvP8AKUikgCuQE4862UCoKVsoVyBBrpQytlMVDGni0HXqWXhqHx7ULViLFQy8OCOk9q68OCOl3aglcgKHBwunJG+Gl2o8aC97o6X9qwHJPKNhQp2LKN3TCLo6X9qG+OCP8/eQLkWGVfGNe/e5I3vv+0f7yIVcN6JHG/tSnne/d/mehRYsi793z3jRWxOQMeN/amGsIm6Ol3apZWSix5F8ZZaagl2SN8dLtfKp744I6T2rKpyjynaglDeoRikkMvjgj49q5rhqGY69R40uVzDsOxIqjb3FtWTxLFkoHRsrJQyuSHRyxculIo5ZK5YgAiU6wfaN5/lKmVNg+0bz/KUhn0B/Iu08Ol139xd5l2nh0us/uLlyujK2d5l2nh0uu/uLfMy08Ol139xcuQFs7zMtPDpdd/cXeZdp4dLrv7i5cgLN8zLTw6XXf3F3mZaeHS67+4uXIFZvmXauHR67+4u8zLTw6XXf3Fy5FBZvmbaY39LOPXfx+4h8zLTw6XXf3Fy5AWb5m2nh0uu/uLPMy08Ol139xcuQFhO/I204ZdLAcN+sngcaHzMtPDpdd/cXLkBZ3mZaeHS67+4u8zbTw6XXf3Fy5AWa/wDIy0yculiT67+4h8y7Tw6XXf3Fy5DGmd5mWnh0uu/uLvMu08Ol139xcuQFmeZdp4dLrv7i7zLtPDpdZ/cXLkBbO8yrTw6XWf3FnmVaeHS6z+4uXIods7zKtPDpdZ/cXeZNp4dLrP7ixcigtm+ZFp4dLrP7izzItPDpdd/cXLkZUGZneZFp4dLrv7idZPyLtIeMulp9Z+o+4tXIyoMzP//Z");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  border-radius: 16px 16px 16px 16px;
  padding:25px;
  height:150px;
}
.reminder{
    background-image: url("https://st2.depositphotos.com/6235482/10449/i/950/depositphotos_104494234-stock-photo-smile-message-on-adhesive-note.jpg");
    padding:40px;
    background-attachment: local;
    background-size: cover;
    font-weight:bold;
    border-radius:10px;
    color:black;
}
