body {
  margin: 0;
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: sans-serif,
    monospace;
}

.Home{
  padding:20px;
  margin: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 75vh;
}

body{
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/394/482/original/worldwide-connection-blue-background-illustration-vector.jpg");
  color:aliceblue;
  background-size: cover;
  font-family:sans-serif;
  height:100%;
}
.MasterLogin{
  height:100%;
  width:100%;
}

.login{
  font-family:sans-serif;
  text-align: center;
  margin-top:3%;
  margin-bottom:3%;
  margin-left:30%;
  margin-right:30%;
  border: 1px solid white;
  border-radius: 5px;
  padding:10px;
  background-color:rgba(0, 0, 0, 0.3);
  color:white;
}

.signUp{
  font-family:sans-serif;
  text-align: center;
  margin-top:3%;
  margin-left:30%;
  margin-right:30%;
  border: 1px solid white;
  border-radius: 5px;
  padding:2px 4px 2px 4px;
  background-color:rgba(0, 0, 0, 0.3);
  color:white;
  padding:10px;
  margin-bottom: 50px;
}

.logindetails{
  font-size: small;
}

.username{
  padding:10px;
  margin:10px;
}

.user{
  padding: 10px;
  border:2px solid black;
  border-radius: 5%;
}

.user:hover{
  background-color:rgb(176, 214, 247);
  border:2px solid black;
}
.Signupbutton{
  background-color:white;
  border-radius: 3px;
  color:black;
  padding:15px;
  border:none;
  margin:10px;
  font-family:sans-serif;
}
.Signupbutton:hover{
  background-color: rgb(163, 238, 196);
}

.user:focus{
  border: 2px solid black;
}

.email{
  padding:10px;
  margin:10px;
}

.password{
  padding:10px;
}

.button{
  padding:10px;
  background-color:white;
  border:none;
  border-radius: 5%;
  color:black;
}


.newUser{
  color: rgb(73, 76, 78);
  padding:10px;
  margin-top: 15px;
  background-color:white;
  border:none;
  color:black;
}

.CandJ{
  display: flex;
  flex-direction: row;
}
.headers1 p{
  color: #8aa7ec;
}
.headers1 p button{
  margin:0 0 0 40px;
  border:none;
  background-color: rgb(18, 206, 99);
  border-radius:5px;
}
.headers1 p button:hover{
  background: -webkit-linear-gradient(top left, #04AE01, #2A71E3);
  background: -moz-linear-gradient(top left, #04AE01, #2A71E3);
  background: linear-gradient(to bottom right, #04AE01, #2A71E3);;
  border:none
}
.headers1 button Link{
  color:black;
}

.SSSSSS{
  height:575px;
}
.SSSSSS .Spara{
  font-size: xx-large;
  margin-left: 275px;
}
.SSSSSS .button{
  font-size: large;
}

.tableheading
{
  border:1px solid ghostwhite;
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.8);

  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  text-align: left;
  margin:10px;
} 
td{
  padding :20px;
  background-color:rgba(0, 0, 0, 0.5);

  border:1px solid ghostwhite;
  border-bottom: 1px solid ghostwhite;
  border-radius: 5px;
}